@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

/* Common styles */

a {
  color: #424247;
  text-decoration: none;
}

.special {
  color: #ff5400;
}

.common-heading {
  color: #131318;
  font-size: 2.3rem;
  font-weight: 800;
}

.common-para {
  color: rgba(19, 19, 24, 0.7);
  line-height: 26px;
}

.main-container {
  width: 82%;
  max-width: 1140px;
  margin: 0 auto;
}

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  border-radius: 8px;
  background: #ff5400;
  padding: 14px 30px;
  color: #fff;
  cursor: pointer;
}

/* Header styles */
/* nav section */
.header-section {
  padding-top: 30px;
}

.nav-container,
.nav-container .nav-left,
.nav-container .nav-right ul {
  display: flex;
  align-items: center;
}

.nav-container .nav-right ul {
  justify-content: space-between;
  list-style: none;
}

.nav-container .nav-left {
  width: 60%;
  gap: 20px;
}

.nav-container .nav-right {
  width: 40%;
}

/* banner section */

.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  min-height: 470px;
  margin-top: 50px;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-container h1 {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 800;
  margin-bottom: 24px;
}

.banner-container p {
  text-align: center;
  max-width: 60%;
  color: #fff;
  line-height: 26px;
  margin-bottom: 48px;
}

.btn-container {
  display: flex;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px;
}

.btn-container input {
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 16px;
  height: 50px;
}

.btn-container .dropdown {
  background-image: url("../Images/icons8-dropdown-50.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 94% 50%;
}

/* Main section */
/* Popular tour section */

.popular-tour-section {
  margin-top: 100px;
}

.popular-tour-container {
  display: flex;
  gap: 50px;
}

.popular-tour-container .left-side {
  width: 50%;
}

.popular-tour-container h2,
.popular-tour-container p,
.popular-tour-container ul {
  margin-bottom: 24px;
}

.popular-tour-container li {
  margin-left: 30px;
}

.popular-tour-container .right-side img {
  border-radius: 1rem;
  width: 100%;
  height: 93%;
  object-fit: cover;
}

/* destination section */

.destination-container h3,
.destination-container p {
  text-align: center;
  margin: 30px auto;
  max-width: 60%;
}

.destination-section {
  margin-top: 100px;
}

.img-1 {
  grid-area: md;
}

.img-2 {
  grid-area: ind;
}

.img-3 {
  grid-area: sl;
}

.img-4 {
  grid-area: na;
}

.img-5 {
  grid-area: ka;
}

.img-6 {
  grid-area: bd;
}

.img-7 {
  grid-area: band;
}

.destination-container .img-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.destination-container .img-grid {
  display: grid;
  gap: 24px;
  grid-template-rows: repeat(3, 300px);
  grid-template-areas:
    "md md md md md md ind ind ind ind ind ind"
    "sl sl sl sl na na na na na ka ka ka"
    "bd bd bd bd bd band band band band band band band";
}

/* choose us section */

.choose-us-section {
  margin: 100px auto;
}

.choose-us-container > h3,
.choose-us-container > p {
  text-align: center;
  margin: 30px auto;
  max-width: 60%;
}

.choose-us-container .description-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.choose-us-container .description-container .upper-left {
  flex-grow: 1;
  padding: 32px;
  flex-basis: 48%;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}

.choose-us-container .description-container .upper-right {
  flex-grow: 1;
  padding: 32px;
  flex-basis: 48%;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

.choose-us-container .description-container .bottom {
  margin: 0 auto;
  padding: 32px;
  flex-basis: 48%;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}

.choose-us-container .description-container * {
  margin-bottom: 24px;
}

.choose-us-container .description-container h4 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}

/* newsletter section */

.newsletter-section {
  margin-bottom: 100px;
}

.newsletter-container {
  display: flex;
  gap: 24px;
}

.newsletter-container .left {
  padding: 35px;
  width: 40%;
  border-radius: 16px;
  border: 1px solid #ff5400;
}

.newsletter-container .right {
  width: 60%;
}

.newsletter-container .left h4 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 16px;
}

.newsletter-container hr {
  margin: 24px 0;
  border: 1px solid rgba(19, 19, 24, 0.1);
}

.newsletter-container .left input {
  width: 100%;
  height: 55px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
}

.newsletter-container .left input::placeholder {
  padding: 16px;
}

.newsletter-container .left button {
  width: 100%;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
}

.newsletter-container .right {
  position: relative;
}

.newsletter-container .right img scenery {
  width: 100%;
  height: 100%;
}

.newsletter-container .right .discount {
  position: absolute;
  top: 52%;
  right: -2%;
  width: 280px;
  height: 180px;
  transform: rotate(-10.628deg);
}

.newsletter-container .right p,
.newsletter-container .right h3 {
  transform: rotate(-31.2deg);
  display: inline-block;
}

.newsletter-container .right p {
  position: absolute;
  top: 67%;
  right: 14%;
  color: #fff;
  font-size: 20px;
}

.newsletter-container .right h3 {
  position: absolute;
  top: 71%;
  right: 1%;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

/* footer section */

.footer-section {
  padding-top: 110px;
  background: rgba(19, 19, 24, 0.05);
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-container h3 {
  font-size: 2rem;
}

.footer-container .common-para {
  max-width: 60%;
  margin: 20px auto;
  text-align: center;
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.icon-container * {
  font-size: 20px;
}

.footer-container hr {
  width: 70%;
  margin: 50px auto;
  border: 1px solid rgba(19, 19, 24, 0.1);
}

.footer-container .credit {
  color: #131318;
}
